// make icon larger for larger screens
$icon-size-lg: 100px;
$icon-size-document-download: 80px;
$icon-size-document-download: 50px;

.contact-icon {
  @include responsive-icon-sizes(80px, 100px);
}

.document-download-icon {
  // size of the icon should match the text beside it
  height: $h3-font-size;
  width: $h3-font-size;
  margin-right: 8px;
}

.document-download-link {
  color: $dark;
  padding: 2% 5%;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid transparent 1px;

  &:hover,
  &:active,
  &:focus {
    border: solid $dark 1px;
    background-color: #faf9f6;
  }
}
