@import './global/index';
@import '~bootstrap/scss/bootstrap';

// custom settings

html,
body {
  height: 100vh;
  background-color: white;
}

#root {
  height: 100%;
}

// make buttons only show accessibility outline when tabbing, not when mouse clicking
.btn {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:focus-visible {
    outline: solid 5px !important;
  }
}
