//start of homepage styling
.greeting-text {
  font-family: 'Merienda-Bold';
  color: #fff9e3;
  text-align: center;
  font-size: 12vmin;

  @include phone-to-desktop-changes {
    font-size: 8vmin;
  }
}
