//make icon larger for larger screens
$icon-size-lg: 100px;
$icon-size-document-download: 80px;
$icon-size-document-download: 50px;

.contact-icon {
  @include responsive-icon-sizes(80px, 100px);
}

.document-download-icon {
  @include responsive-icon-sizes(50px, 80px);
}

.document-download-link {
  color: $dark;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    color: $primary;

    .document-download-icon {
      fill: $primary;
    }
  }
}
