//make icon larger for larger screens
$icon-size-lg: 100px;
$icon-size-md: 80px;
$icon-size-sm: 50px;

// to be able to size heigh and width in one line
@mixin size-icon($size) {
  height: $size;
  width: $size;
}

.contact-icon {
  @include size-icon($icon-size-md);

  // make the icon bigger when the screen size is past boostrap "lg" breakpoint
  @media only screen and (min-width: map-get($grid_breakpoints, 'lg')) {
    @include size-icon($icon-size-lg);
  }
}

.document-download-icon {
  width: $icon-size-sm;

  @media only screen and (min-width: map-get($grid_breakpoints, 'lg')) {
    width: $icon-size-sm;
  }
}

.document-download-link {
  color: $dark;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover,
  &:active,
  &:focus {
    color: $primary;

    .document-download-icon {
      fill: $primary;
    }
  }
}
